- name: Stat of system interface definition - before
  ansible.builtin.stat:
    path : "/etc/network/interfaces"
  register: sys_interface_before

- name: Copy system interface definition
  ansible.builtin.template:
    src: ./templates/interfaces.j2
    dest: "/etc/network/interfaces"
    owner: root
    group: root
    mode: "0600"

- name: Stat of system interface definition - after
  ansible.builtin.stat:
    path : "/etc/network/interfaces"
  register: sys_interface_after

# - name: Bounce dummy0 interface if it anything changed
#   ansible.builtin.command:
#     cmd: "bash -c 'service networking reload;ifdown --force dummy0;ifup dummy0'"
#   when: (sys_interface_before.stat.checksum is not defined) or (sys_interface_before.stat.checksum != sys_interface_after.stat.checksum)
