[Interface]
PrivateKey = {{ PRIVATE_KEY }}
# PublicKey = {{ PUBLIC_KEY }}
ListenPort = 51821

# {{ item.NAME }}
[Peer]
PublicKey = {{ item.PEER_PUBLIC_KEY }}
AllowedIPs = {{ item.PEER_ALLOWED_IPS }}
PersistentKeepalive = {{ item.PEER_PERSISTENT_KEEPALIVE }}
