# Managed by ansible
auto wg{{ item.NAME }}
iface wg{{ item.NAME }} inet static
        address {{ item.INTERFACE_ADDRESS }}
        netmask {{ item.INTERFACE_ADDRESS | ansible.utils.ipaddr('netmask') }}
        pre-up ip link add $IFACE type wireguard
        pre-up wg setconf $IFACE /etc/wireguard/$IFACE.conf
        post-up ip link set $IFACE mtu {{ item.TX_LENGTH }}
        post-down ip link del $IFACE
