name: Generate configs
permissions: read-all

on:
  pull_request:
  workflow_call:
  workflow_dispatch:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # @v4

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # @v5
        with:
          python-version: '3.11'

      - name: Setup ansible
        run: pip install --require-hashes -r requirements.txt && export PATH="$HOME/.local/bin:$PATH" && ansible-galaxy collection install -r ansible/roles/requirements.yml

      - name: Run playbook
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          mv dev.yaml wireguard.yaml
          ansible-playbook generate_config_templates.yaml --extra-vars "SERVER_NAME='dev3' SERVER_IP='199.170.132.44' PUBLIC_KEY='HCYsMu1Wztk8ape2WP5HYiFZnNpn07guRNvKZw/e0mk='"
          
          mv wireguard_sn3.yaml wireguard.yaml
          ansible-playbook generate_config_templates.yaml --extra-vars "SERVER_NAME='sn3' SERVER_IP='199.170.132.43' PUBLIC_KEY='HCYsMu1Wztk8ape2WP5HYiFZnNpn07guRNvKZw/e0mk='"

          mv wireguard_sn10.yaml wireguard.yaml
          ansible-playbook generate_config_templates.yaml --extra-vars "SERVER_NAME='sn10' SERVER_IP='23.158.16.28' PUBLIC_KEY='wFQXW68D0ePLU39A1yfuIRH7oyH3ZIfb424OczjI7Ak='"

          mv wireguard_sn11.yaml wireguard.yaml
          ansible-playbook generate_config_templates.yaml --extra-vars "SERVER_NAME='sn11' SERVER_IP='208.68.5.2' PUBLIC_KEY='5wOBTSB3kH7CdZfBZAw8iomGQbS0POlmOLx2MFmzhFg='"
        working-directory: ./ansible/
      
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: ./ansible/*_wg*.conf
          retention-days: 1
