name: Generate configs
permissions: read-all

on:
  pull_request:
  workflow_call:
  workflow_dispatch:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # @v4

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # @v5
        with:
          python-version: '3.11'

      - name: Setup ansible
        run: pip install --require-hashes -r requirements.txt && export PATH="$HOME/.local/bin:$PATH" && ansible-galaxy collection install -r ansible/roles/requirements.yml

      - name: Run playbook
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          mv dev.yaml wireguard.yaml
          ansible-playbook generate_config_templates.yaml --extra-vars "SERVER_NAME='dev3' SERVER_IP='199.170.132.44' PUBLIC_KEY='HCYsMu1Wztk8ape2WP5HYiFZnNpn07guRNvKZw/e0mk='"
          
          mv wireguard_sn3.yaml wireguard.yaml
          ansible-playbook generate_config_templates.yaml --extra-vars "SERVER_NAME='sn3' SERVER_IP='199.170.132.43' PUBLIC_KEY='HCYsMu1Wztk8ape2WP5HYiFZnNpn07guRNvKZw/e0mk='"

          mv wireguard_sn10.yaml wireguard.yaml
          ansible-playbook generate_config_templates.yaml --extra-vars "SERVER_NAME='sn10' SERVER_IP='23.158.16.28' PUBLIC_KEY='wFQXW68D0ePLU39A1yfuIRH7oyH3ZIfb424OczjI7Ak='"
        working-directory: ./ansible/
      
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          path: ./ansible/*_wg*.conf
          retention-days: 1
