name: pull-request

on:
  workflow_call:
  pull_request:

permissions: read-all

env:
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE}}

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # @v4

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # @v3
        with:
          terraform_version: 1.8.3

      - name: Terraform format
        id: fmt
        run: terraform fmt -check
        working-directory: ./terraform/

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@5051a5cfc7e4c71d95199f81ffafbb490c7e6213
        with:
          skip_check: CKV_DOCKER_2,CKV_DOCKER_3,CKV_SECRET_6,CKV2_ANSIBLE_3
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          download_external_modules: true
        if: github.event_name == 'pull_request'

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v3
        if: github.event_name == 'pull_request' && (success() || failure())
        with:
          sarif_file: results.sarif

      - name: Run ansible-lint
        uses: ansible/ansible-lint@a2bc8b8b13a80802215856c56823d85007d3baf5 # v25
        with:
          args: ""
          setup_python: "true"
          working_directory: "./ansible/"
          requirements_file: ""

      - name: Python dependencies
        run: pip install --require-hashes -r requirements.txt

      - name: Run tests dev3
        run: ansible-playbook tests.yaml --extra-vars 'env_file=dev.yaml expected_range=10.70.248.0/24 expected_default=10.70.248.1'
        working-directory: ./ansible/

      - name: Run tests prod2
        run: ansible-playbook tests.yaml --extra-vars 'env_file=wireguard_sn10.yaml expected_range=10.70.183.0/24,10.70.247.0/24 expected_default=10.70.247.1'
        working-directory: ./ansible/

      - name: Run tests prod1
        run: ansible-playbook tests.yaml --extra-vars 'env_file=wireguard_sn3.yaml expected_range=10.70.183.0/24,10.70.249.0/24,10.70.250.0/24 expected_default=10.70.250.1'
        working-directory: ./ansible/

      - name: Run tests prod11
        run: ansible-playbook tests.yaml --extra-vars "env_file=wireguard_sn11.yaml expected_range=10.70.183.0/24,10.70.246.0/24 expected_default=10.70.246.1"
        working-directory: ./ansible/
