name: pull-request

on:
  workflow_call:
  pull_request:

permissions: read-all

env:
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE}}

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # @v4

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # @v3
        with:
          terraform_version: 1.8.3

      - name: Terraform format
        id: fmt
        run: terraform fmt -check
        working-directory: ./terraform/

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@afa85d3c6187ef3fdda6368e5e7a2c2247160d66
        with:
          skip_check: CKV_DOCKER_2,CKV_DOCKER_3,CKV_SECRET_6,CKV2_ANSIBLE_3
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          download_external_modules: true
        if: github.event_name == 'pull_request'

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@3c3833e0f8c1c83d449a7478aa59c036a9165498 # v3
        if: github.event_name == 'pull_request' && (success() || failure())
        with:
          sarif_file: results.sarif

      - name: Run ansible-lint
        uses: ansible/ansible-lint@50373efb440dd3b524956c075af715cd00eaf20b # v25
        with:
          args: ""
          setup_python: "true"
          working_directory: "./ansible/"
          requirements_file: ""

      - name: Python dependencies
        run: pip install --require-hashes -r requirements.txt

      - name: Run tests dev3
        run: ansible-playbook tests.yaml --extra-vars "env_file=dev.yaml expected_range=10.70.248.0/24 expected_default=10.70.248.1"
        working-directory: ./ansible/

      - name: Run tests prod2
        run: ansible-playbook tests.yaml --extra-vars "env_file=wireguard_sn10.yaml expected_range=10.70.247.0/24 expected_default=10.70.247.1"
        working-directory: ./ansible/

      - name: Run tests prod1
        run: ansible-playbook tests.yaml --extra-vars "env_file=wireguard_sn3.yaml expected_range=10.70.250.0/24 expected_default=10.70.250.1"
        working-directory: ./ansible/
